/********************
* 基本
********************/
:root {
    --swiper-container-height: 804px;
    --gif-logo-height: 750px;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    min-width: 1400px;
}

a,
a:visited {
    text-decoration: none;
}

ol {
    margin: 0;
    padding: revert !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol:after,
ul:after {
    content: " ";
    clear: both;
    display: table;
}

* {
    color: #252729;
    box-sizing: border-box;
    font-family: unset !important;
}

/*Navbar*/
.common-navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: 166px;
    background-color:lightseagreen;
    padding: 0 120px;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 1400px;
    white-space: nowrap;
    box-sizing: border-box;
}

.common-navbar .logo {
    width: 241px;
    height: 91px;
    background-color:maroon;
}

.common-navbar .logo img {
    width: auto;
    height: 100%;
    object-fit: contain;
    margin-right: 20px;
    background-color:navy;
}

.common-navbar .list {
    display: block;
    height: 100%;
    flex-grow: 1;
    float: right;
    white-space: nowrap;
    background-color:rebeccapurple;
}

.common-navbar .list .item {
    height: 100%;
    padding: 0 20px;
    position: relative;
    float: right;
    background-color:violet;
}

.common-navbar .list .item>a {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
    padding-top: 4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cyan;
    
}

.common-navbar .list .item:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:crimson;
    transition: background-color 0.3s;
}

.common-navbar .list .drop-item:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-bottom: 0;
    border-left: 7px solid transparent;
    color:chocolate;
}

.common-navbar .list .item:hover:after,
.common-navbar .list .item.active:after {
    background-color:indigo;
}

.common-navbar .list .item:hover>a,
.common-navbar .list .item.active>a {
    color:gold;
}

/*二级*/
.common-navbar .child-nav {
    display: none;
    background-color:khaki;
    position: absolute;
    /* top: 100%; */
    top: 80%;
    left: -32px;
    z-index: 9999;
    border-radius: 10px;
}

.common-navbar .child-nav .child-list {
    padding: 20px 52px;
    border: 2px solid palevioletred;
    border-radius: 10px;
}

.common-navbar .child-nav .child-item {
    line-height: 50px;
    background-color:red;
}

.common-navbar .child-nav .child-item a {
    display: inline-block;
    color: #060606;
    border-bottom: 3px solid transparent;
    word-break: keep-all;
    white-space: nowrap;
    height: 42px;
    font-size: 16px;
    background-color:rosybrown;
}

.common-navbar .child-nav .child-item:hover a,
.common-navbar .child-nav .child-item.active a {
    border-bottom: 3px solid #d0e1f3;
}

.common-navbar .item:hover .child-nav {
    display: inherit;
}

/*Team 避免撑开盒子*/
.common-navbar .item:first-child:hover .child-nav {
    display: inherit;
    background-color:darkmagenta;
    /* left: -64px; */
}


.common-header {
    margin-top: 166px;
    width: 100%;
    /* height: 604px; */
    /* min-height: 37.75rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* align-items: flex-start; */
    /* background: url('https://static.igem.wiki/teams/4290/wiki/beijing-united-home02.jpg') center top no-repeat; */
    /* background-size: 100% 604px; */
    /* background-size: 100% auto; */
    position: relative;
    background-color:lightgoldenrodyellow;
}

.common-header .common-header-logo {
    /* width: 100%; */
    /* width: 1000px; */
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 700px;
    height: auto;
    display: block;
    /* margin-bottom: 90px; */
    background-color:lightskyblue;
}

.sub-header-logo {
    display: block;
    margin-top: 166px;
    width: 100%;
    height: 100%;
}

.common-container {
    width: 1400px;
    padding: 0 100px;
    margin: 0 auto;
    /* background: #fff; */
    box-sizing: border-box;
    background-color:mediumturquoise;
}

.home-container {
    padding: 0 260px;
    box-sizing: border-box;
    background-color:cornsilk;
}

.common-container .common-carousel {
    width: 100%;
    margin: auto 0;
}

.common-container .common-wrap {
    width: 100%;
    /* margin: 0 auto;
    background: #fff; */
}

.article-title {
    color:khaki;
    text-align: center;
    font-size: 42px;
    letter-spacing: 1px;
    position: relative;
    margin: 45px 0;
    font-weight: bolder;
    background-color:lemonchiffon;
}

.article-title::after {
    content: "";
    background-color: #c74751;
    height: 5px;
    width: 32px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.article-content {
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: justify;
    color: #252729;
}

.home-article {
    font-size: 20px !important;
}

.common-video {
    width: 100%;
    height: 100%;
}

.common-img {
    display: block;
    width: 100%;
    height: 100%;
    background-color:lightcyan;
}


.margin-top-45 {
    margin-top: 45px !important;
}

.margin-top-16 {
    margin-top: 16px !important;
    color: #000;
}

.margin-bottom-45 {
    margin-bottom: 45px !important;
}

.margin-bottom-16 {
    margin-bottom: 16px !important;
}

.common-footer {
    width: 100%;
    height: 380px;
    /* height: 336px; */
    box-sizing: border-box;
    background: url('') center bottom no-repeat;
    background-size: 100% 238px;
    background-color:lightblue;
}

.qrcode-img {
    margin: 0 auto;
    display: block;
    /* width: 327px;
    height: 329px; */
    width: 250px;
    height: auto;
}

.common-footer p {
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.common-footer p a {
    font-size: 16px;
    color: #fff;
}

.sub-page-content {
    width: 1250px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 160px 80px;
}

.content-title {
    text-align: center;
    font-size: 42px;
    letter-spacing: 1px;
    color: #3c3c3c;
    margin: 45px 0;
    margin-top: 0;
    font-weight: bolder;
}

.title {
    font-size: 32px;
    line-height: 42px;
    margin: 36px 0 16px;
    color: #222121;
    font-weight: bold;
}

.sub-title {
    font-size: 18px;
    line-height: 32px;
    color: #222121;
    font-weight: bold;
    margin: 16px 0;
}

.blue-title {
    color: #263c8d !important;
}

.members-wrap {
    width: 100%;
    height: auto;
}

.members-wrap>.member-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 64px;
}

.members-wrap>.member-item>.member-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 196px;
    box-sizing: border-box;
}

.members-wrap>.member-item>.member-head>img {
    width: 196px;
    height: 196px;
    border-radius: 100%;
    margin-bottom: 12px;
    display: inline-block;
}

.members-wrap>.member-item>.member-head>span {
    display: block;
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
}

.members-wrap>.member-item>.member-info {
    flex: 1;
    font-size: 18px;
    padding-left: 48px;
    line-height: 32px;
    color: #464646;
    text-align: justify;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.common-sub-img {
    display: block;
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center !important;
}

.text-indent-2 {
    text-indent: 2em;
}

.padding-left-2 {
    padding-left: 36px;
}

.img-wrap {
    width: 100%;
    margin: 16px 0;
}

.img-wrap>img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-80 {
    width: 80% !important;
}

.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.img-wrap>span {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
}

.img-wrap .tips-title {
    font-size: 32px;
    line-height: 42px;
    color: #222121;
    font-weight: bold;
}

.sub-table {
    width: 100%;
    border: 1px solid #464646;
    box-sizing: border-box;
    table-layout: fixed;
    word-break: break-all;
}

.sub-table tr {
    font-size: 1.125rem;
}

.sub-table tr th {
    /* height: 4.25rem; */
    background: #d0e1f3;
    color: #464646;
    padding: 0.625rem;
    vertical-align: middle;
    border: 1px solid #464646;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    word-break: break-word;
}

.sub-table tr td {
    height: 4.375rem;
    padding: 0.625rem;
    text-align: center;
    color: #464646;
    vertical-align: middle;
    border: 1px solid #464646;
    border-collapse: collapse;
    word-break: break-word;
}

.sub-table tr td a {
    color: #076c70;
}

.sub-pdf {
    width: 100%;
    height: 800px;
}

.blod {
    font-weight: bold;
    color: #000;
}

.common-audio {
    margin: 0 auto;
    display: block;
}

.auto-margin {
    margin: 0 auto;
    display: block;
}

.yellow-color {
    color: #f9811f !important;
}

.accordion-item {
    background: #d0e1f3;
    cursor: pointer;
    padding: 15px;
    box-sizing: border-box;
    user-select: none;
}

.third-title {
    margin-bottom: 16px;
    font-weight: bold;
}

.break-all {
    word-break: break-all;
}

.font-size-16 {
    font-size: 16px !important;
}

.text-underline {
    text-decoration: underline;
}

