*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfix::before,.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear:both;
}

body{
    background-color:rgb(224, 255, 239);
}

/* 版心 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
.header{
    height: 42px;
    margin: 30px auto;
}

h1{
    float: left;
}
h2{
    text-align: center;
    font-size: 80px;
    color:forestgreen;
}
/* 导航 */
.nav{
    float: left;
    height: 42px;
    background-color;
}

.nav li{
    float: left;
    margin-right: 26px;
}

.nav li a{
    display: block;
    padding: 0 9px;   
    height: 42px;
    line-height: 42px;
    height: 42px;

    font-size: 18px;
    color:darkblue;
}

.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}

.search{
    float: left;
    margin-left: 59px;
    width: 402px;
    height: 40px;
    border: 1px solid #00a4ff;
}

.search input{
    float: left;
    padding-left: 20px;
    width: 350px;
    height: 38px;
    border: 0;
}

.search input::placeholder{
    font-size: 14px;
    color: #bfbfbf;
}

.search button{
    float: left;
    width: 50px;
    height: 40px;
    background-image: url(../images/2.jpg);
    border: 0px;
}

.user{
    float:right;
    margin-right: 35px;
    height: 42px;
    line-height: 42px;
}

.user{
    vertical-align: middle;
}

/* 轮播图 */
.banner{
    height: 420px;
    background-color:azure;
}

.banner .wrapper{
    height: 420px;
    background-image: url(../images/杨树林11.jpg);

}

.banner .left{
    float: left;
    padding: 0 20px;
    width: 190px;
    height: 420px;
    background-color:rgba(0,0,0,0.3);
    line-height: 44px;
}

.banner .left span{
    float: right;
}

.banner .left a{
    font-size: 14px;
    color: beige;

}

.banner .left a:hover{
    color: #00b4ff;
}

.banner .right{
    float: right;
    width: 228px;
    height: 300px;
    background-color: aliceblue;
}

.banner .right h2{
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.banner .right .content{
    padding: 0 18px;
}

.banner .right .content dl{
    padding: 12px 0;
    border-bottom: 2px solid blue;
}
.banner .right .content dt{
    font-size: 16px;
    color: greenyellow;
}
.banner .right .content dd{
    font-size: 14px;
    color:green;
}
.banner .right .more{
    display: block;
    margin: 4px aotu 0;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    color: blue;
    font-weight: 700;

    text-align: center;
    line-height: 40px;
}

.goods {
    margin-top: 8px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    box-shadow: blue;

    line-height: 60px;
    
}

.goods h2{
    float: left;
    font-size: 16px;
    color: #00a4ff;

}
.goods ul{
    float: left;
    margin-left: 30px;
}

.goods ul li{
    float: left;
}

.goods li a{
    border-left: 1px solid #bfbfbf;
    padding: 0 30px;
    font-size: 16px;
    color: sienna;
}

.goods .xingqu{
    float: right;
    font-size: 14px;
    color: #00a4ff;
}
/* 具体内容 */

.box{
    margin-top: 35px;
}

.box .title{
    height: 40px;
    background-color:#fff;
}

.box .title h2{
    float: left;
    font-size: 20px;
    color: darkblue;
    font-weight: 400;
}

.box .title a{
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color:#a5a5a5;
}

.box .content li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}

.box .content li:nth-child(5n){
    margin-right: 0;
}

.box .content li h3{
    padding: 20px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box .content li span{
    padding: 0 20px;
    font-size: 12px;
    color: #999;
}
/* 版权 */

.footer{
    margin-top: 40px;
    height: 417px;
    padding-top: 30px;

    height: 417px;
    background-color: #fff;
}

.footer .left{
    float: left;
    padding-left: 200px;
}

.footer .left p{
/*     margin-left: 450px; */
/*     margin-top: -200px; */
    font-size: 25px;
    color:darkgreen;
}

.footer .middle a{
    display: inline-block;
    margin-right:200px;
    width: 120px;
    height: 36px;
    
    border: 1px solid #00b4ff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #00b4ff;
}


.footer .right{
    float: left;
    margin-right: 260px;
}

.footer .right dl{
    float: left;
    margin-left: 80px;
}

